/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}
/****** header ***********/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 61.09px;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header nav a:first-child {
  margin-right: 68px;
}

header nav a {
  position: relative;
}
header nav a:hover {
  color: var(--main-color);
}

header nav a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--main-color);
}

/****** body ***********/

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** recherche-filtres ***********/
.recherche-filtres {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 35px;
  margin-top: 30px;
}
/****** titres ***********/

.titres h1 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 22px;
}
.titres p {
  margin-top: 0px;
}

/****** recherche ***********/

.recherche {
  display: flex;
  height: 49px;
  align-items: center;
  border-radius: 15px;
}

.recherche i:first-child {
  display: flex;
  width: 60px;
  height: 49px;
  border-radius: 15px 0 0 15px;
  border: 1px solid var(--main-bg-color);
  background-color: var(--main-bg-color);
  align-items: center;
  justify-content: center;
  color: black;
}

.recherche input {
  border: none;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  width: 195px;
}

.recherche input::placeholder {
  color: black;
  align-items: center;
  justify-content: center;
}

.recherche input:focus {
  outline: none;
}

.recherche .icone {
  display: none;
}

.recherche button {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  width: 132px;
  height: 49px;
  justify-content: center;
  border: none;
  align-items: center;
  border-radius: 0 15px 15px 0;
  border: 1px solid var(--main-bg-color);
  background-color: var(--main-color);
}
.filtres {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.filtres .buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}
.filtres button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 50px;
  border-radius: 25px;
  padding-left: 19px;
  padding-right: 19px;
  border: 2px solid #d9d9d9;
  background-color: white;
  font-weight: 700;
  font-size: 16px;
  color: black;
}

.filtres button:hover {
  background-color: #deebff;
}
.house-number {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.house-number .icone-information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 35px;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
.hebergements {
  background-color: var(--main-bg-color);
}
.populaires {
  background-color: var(--main-bg-color);
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements .afficher-plus {
  margin-top: 30px;
  margin-bottom: 0px;
}

.hebergements-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hebergements-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  width: 240px;
  height: 210px;
}

.hebergements-cards img {
  width: 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.hebergements-cards .card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}

.hebergements-cards .card-title {
  margin-bottom: 6px;
}
.hebergements-cards .card-subtitle {
  margin-top: 0;
  margin-bottom: 6px;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** activites ***********/
.activites {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px;
}

.activites .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.activites .cards a {
  display: flex;
  flex: 1;
  height: 439px;
}
.activites .card {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0;
}
.activites .card img {
  width: 100%;
  height: 85%;
  border-radius: 20px 20px 0 0;
}

.activites .card .card-content {
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin: 0;
}
/****** footer ***********/

footer {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  background-color: var(--main-bg-color);
}

footer .footer-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 33%;
}

footer .footer-column h3:hover {
  text-decoration: underline;
}
footer .footer-column li:hover {
  text-decoration: underline;
}

footer .footer-column ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 0;
  margin-top: 0;
  list-style-type: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filtres {
    flex-direction: column;
    align-items: start;
  }

  .filtres h2 {
    margin: 0;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activites .cards a {
    height: 270px;
  }
  .activites .card img {
    height: 74%;
  }
  .activites .card .card-content {
    padding-left: 19px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    margin: 0;
  }
  .main-container {
    padding: 0px;
  }
  /* header */

  header {
    flex-direction: column;
    align-items: center;
  }
  header img {
    padding: 30px;
  }

  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  header nav a:first-child {
    margin-right: 0px;
  }

  header nav a {
    width: 100%;
  }

  header nav a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--main-bg-color);
    border-top: none;
  }

  header nav a:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--main-color);
    border-top: none;
  }

  /****** recherche-filtres ***********/

  .recherche-filtres {
    padding-left: 20px;
    padding-right: 20px;
  }

  .recherche {
    justify-content: center;
  }

  .filtres .buttons {
    gap: 10px;
  }

  .filtres button {
    width: 162.5px;
    font-size: 14px;
  }
  .recherche button {
    display: none;
    width: 49px;
    height: 49px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: none;
  }

  .recherche .icone i {
    background-color: transparent;
    border-radius: none;
    border: none;
    color: #ffffff;
  }

  .recherche .icone {
    display: flex;
  }

  .filtres .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
  }

  /****** Hebergements And Populaires ***********/
  .hebergements-and-populaires {
    flex-direction: column-reverse;
    gap: 15px;
  }

  .populaires {
    margin-top: 0px;
  }

  .populaires .populaires-cards {
    margin-top: 15px;
    flex-direction: column;
    gap: 15px;
  }
  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card {
    margin-top: 0px;
  }

  .hebergements {
    background-color: white;
  }
  .hebergements-title {
    margin-bottom: 15px;
  }
  .hebergements-cards {
    flex-direction: column;
    gap: 15px;
  }
  .hebergements-cards .card {
    margin-top: 0px;
    width: 100%;
  }

  .activites .cards {
    flex-direction: column;
    gap: 15px;
  }
  .activites .cards a {
    height: auto;
  }
  .activites .card {
    height: 200px;
  }
  .activites .card img {
    height: 70%;
    object-fit: cover;
  }
}
